@font-face {
  font-family: 'PoppinsRegular';
  src: url('./fonts/Poppins/Poppins-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'PoppinsExtraBold';
  src: url('./fonts/Poppins/Poppins-ExtraBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Nunito';
  src: url('./fonts/Nunito/Nunito-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'RobotoMono';
  src: url('./fonts/Roboto_Mono/RobotoMono-ThinItalic.ttf') format('truetype');
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#root {
  display: flex;
  align-items: center;
  justify-content: center;

}

:root {
  --color-teal: #023E8A;
  --color-blue: #0096C7;
  --color-light-teal: #99FFFF;
  --color-light-blue: #90E0EF;
  --color-gray: #D9D9D9;
  --color-text-light: #C3EAFF;
  --color-text-dark: #2E5077;
}

h1 {
  font-size: 24pt;
  font-family: PoppinsRegular;
  color: var(--color-teal);
  margin-bottom: 0;
  padding-bottom: 10px;
}


.doctor-cat {
  position: absolute;
  z-index: 10;
  bottom: 0;
  right: 0;
  transform: translate(50%, 25%);
  width: 150px;
  height: auto;
}

.bot-description {
  margin-top: 0;
  color: var(--color-teal);
  font-size: 14pt;
}

.prompt {
  display: flex;
  height: 40px;
  gap: 5px;
  align-items: center;
  width: 100%;
}

.image-button {
  margin: 0;
  padding: 0;
  height: 40px;
  width: 40px;
  cursor: pointer;
  display: flex;
  background-color: var(--color-teal);
  align-items: center;
  justify-content: center;
  border-radius: 0 10px 10px 0;
}

.image-of-bottom {
  height: 50%;
  width: 50%;
  padding: 0;
  margin-left: 25%;
  margin-right: 25%;
}

.image-button:focus {
  outline: none;
  background: none;
  border: none;
  background-color: var(--color-teal);
}

.prompt-input {
  width: 100%;
  background-color: var(--color-blue);
  font-size: 15px;
  color: var(--color-light-blue);
  font-family: RobotoMono;
  height: 40px;
  border-radius: 10px 0 0 10px;
  padding-left: 20px;
  border: none;
  outline: none;
}

.input-field:focus {
  border-color: #90E0EF;
  outline: none;
}

::-webkit-input-placeholder {
  color: #90E0EF;
  font-family: RobotoMono;
}

:-moz-placeholder {
  color: #90E0EF;
  font-family: RobotoMono;
}

body {
  background-color: var(--color-teal);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

.white_field {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  width: 47%;
  flex-direction: column;

  border-radius: 40px;
  background-color: white;
  padding: 90px 100px;
  position: relative;
}

.messages {
  background-color: #ffffff;
  width: 100%;
  height: 100%;
  max-height: 500px;
  overflow-y: auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  scroll-behavior: smooth;
  gap: 10px;
}

.messageBot {
  background-color: var(--color-blue);
  color: var(--color-text-light);
  max-width: 40%;
  padding: 6px;
  border-radius: 0 10px 10px 10px;
  text-align: left;
  align-self: flex-start;
}

.messageUser {
  background-color: var(--color-gray);
  color: var(--color-text-dark);
  max-width: 40%;
  padding: 6px;
  border-radius: 10px 0 10px 10px;
  text-align: left;
  align-self: flex-end;
}