@font-face {
  font-family: 'PoppinsRegular';
  src: url('./fonts/Poppins/Poppins-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'PoppinsExtraBold';
  src: url('./fonts/Poppins/Poppins-ExtraBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Nunito';
  src: url('./fonts/Nunito/Nunito-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'RobotoMono';
  src: url('./fonts/Roboto_Mono/RobotoMono-ThinItalic.ttf') format('truetype');
}

:root {
  --color-teal: #023E8A;
  --color-blue: #0096C7;
  --color-light-teal: #99FFFF;
  --color-light-blue: #90E0EF;
  --color-gray: #D9D9D9;
  --color-text-light: #C3EAFF;
  --color-text-dark: #2E5077;
}

h1 {
  font-size: 24pt;
  font-family: PoppinsRegular;
  color: var(--color-teal);
  margin-bottom: 0;
  padding-bottom: 10px;
}


.doctor-cat {
  position: absolute;
  /* Встановлює абсолютне позиціонування */
  top: 350px;
  /* Відступ зверху відносно батьківського елемента або body */
  left: 1050px;
  /* Відступ зліва */
  z-index: 10;
  /* Забезпечує, щоб зображення було поверх інших елементів */
  width: 150px;
  /* Встановлює ширину зображення */
  height: auto;
  /* Пропорційна висота */
}

.bot-description {
  margin-top: 0;
  color: var(--color-teal);
  font-size: 14pt;
}

.prompt {
  display: flex;
  height: 40px;
  gap: 0;
  align-items: center;
}

.image-button {
  margin: 0;
  padding: 0;
  width: auto;
  height: 90%;
  cursor: pointer;
  display: flex;
}

.image-of-bottom {
  height: 100%;
  width: auto;
  padding: 0;
}

.image-button:focus {
  outline: none;
  background: none;
  border: none;
}

.prompt-input {
  width: 450px;
  flex-grow: 1;
  background-color: var(--color-blue);
  font-size: 14px;
  color: var(--color-light-blue);
  font-family: RobotoMono;
  height: 30px;
  border-radius: 10px 0 0 10px;
  padding-left: 20px;
  border: 2px solid #0096C7;
  outline: none;
  margin-right: 0;
  padding-right: 0;
  margin: 0;
}

.input-field:focus {
  border-color: #90E0EF;
  outline: none;
}

::-webkit-input-placeholder {
  color: #90E0EF;
  font-family: RobotoMono;
}

:-moz-placeholder {
  color: #90E0EF;
  font-family: RobotoMono;
}

body {
  background-color: var(--color-teal);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.white_field {
  border-radius: 40px;
  background-color: white;
  width: 600px;
  max-width: 900px;
  height: 300px;
  max-height: 600px;
  padding-top: 90px;
  /* padding-bottom: 120px; */
  padding-right: 100px;
  padding-left: 100px;
}